{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Meta Configs -->
    <meta name="author" content="Amraoui Mohamed">
    <meta name="description" content="An Open Source Project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome\css\all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome\css\brands.css' %}">
    <!-- Custom Style -->
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <!-- Site Title -->
    <title>
        Tech Solution
        {% block subtitle %}
        {% endblock subtitle %}
    </title>
</head>

<body class="bg-light">
    <!-- Navbar Block -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Tech Solution</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}#header">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    <!-- Header Block -->
    {% block header %}
    <header class="container-fluid grid-row bg-primary" id="header">
        <div class="heading d-flex flex-column">
            <span class="heading-subtitle">welcome to</span>
            <span class="heading-title">Tech Solution</span>
            <span class="heading-subtitle">Bring Your Ideas to life</span>
            <a class="btn btn-outline-light">our services</a>
        </div>
        <div class="image">
            <img src="{% static 'assets\images\header-bg.png' %}">
        </div>
    </header>
    {% endblock header %}
    <!-- Content Block -->
    {% block content %}
    <div class="container d-flex flex-column" style="max-width: 95%;">
        <main>
            {% block main %}
            <section id="about">
                <div class="image">
                    <img src="{% static 'assets\images\about-us.png' %}">
                </div>
                <div class="text">
                    <div class="section-title">
                        Who Are We
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque similique eius voluptatibus
                        quidem hic possimus nemo harum, voluptatum neque iusto aspernatur quisquam ab sequi quia enim
                        nulla ipsum illum eum velit quo a. Temporibus placeat molestiae debitis delectus! Eos voluptate
                        porro cum ipsa iste neque.
                    </p>
                </div>
            </section>
            <section id="team">
                <div class="section-title">our team</div>
                <div class="team-box">
                    <div class="team-member d-flex flex-column">
                        <img class="member-picture" src="https://placehold.co/350x350" alt="team member">
                        <span class="member-name">john doe</span>
                    </div>
                    <div class="team-member d-flex flex-column">
                        <img class="member-picture" src="https://placehold.co/350x350" alt="team member">
                        <span class="member-name">john doe</span>
                    </div>
                    <div class="team-member d-flex flex-column">
                        <img class="member-picture" src="https://placehold.co/350x350" alt="team member">
                        <span class="member-name">john doe</span>
                    </div>
                    <div class="team-member d-flex flex-column">
                        <img class="member-picture" src="https://placehold.co/350x350" alt="team member">
                        <span class="member-name">john doe</span>
                    </div>
                </div>
            </section>
            <section id="services">
                <div class="section-title">
                    Our Services
                </div>
                <div class="card-box">
                    <div class="card">
                        <div class="card-title">
                            <i class="fas fa-bullhorn"></i>
                            Lorem ipsum dolor sit.
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat cumque a quis ad harum quia nemo magni aspernatur quam eligendi, reiciendis porro repellendus voluptas.
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <i class="fas fa-bullhorn"></i>
                            Lorem ipsum dolor sit.
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat cumque a quis ad harum quia nemo magni aspernatur quam eligendi, reiciendis porro repellendus voluptas.
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <i class="fas fa-bullhorn"></i>
                            Lorem ipsum dolor sit.
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat cumque a quis ad harum quia nemo magni aspernatur quam eligendi, reiciendis porro repellendus voluptas.
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <i class="fas fa-bullhorn"></i>
                            Lorem ipsum dolor sit.
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat cumque a quis ad harum quia nemo magni aspernatur quam eligendi, reiciendis porro repellendus voluptas.
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <i class="fas fa-bullhorn"></i>
                            Lorem ipsum dolor sit.
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat cumque a quis ad harum quia nemo magni aspernatur quam eligendi, reiciendis porro repellendus voluptas.
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <i class="fas fa-bullhorn"></i>
                            Lorem ipsum dolor sit.
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat cumque a quis ad harum quia nemo magni aspernatur quam eligendi, reiciendis porro repellendus voluptas.
                        </p>
                    </div>
                </div>
            </section>
            <section id="portfolio">
                <div class="section-title">
                    Our works
                </div>
                <div class="card-box">
                    <div class="card">
                        <div class="card-thumbnail">
                            <img src="https://placehold.co/600x400">
                        </div>
                        <div class="card-title">
                            Lorem ipsum dolor sit.
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis sapiente impedit?
                        </p>
                        <a href="" class="btn btn-primary text-light">Read More</a>
                    </div>
                    <div class="card">
                        <div class="card-thumbnail">
                            <img src="https://placehold.co/600x400">
                        </div>
                        <div class="card-title">
                            Lorem ipsum dolor sit.
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis sapiente impedit?
                        </p>
                        <a href="" class="btn btn-primary text-light">Read More</a>
                    </div>
                    <div class="card">
                        <div class="card-thumbnail">
                            <img src="https://placehold.co/600x400">
                        </div>
                        <div class="card-title">
                            Lorem ipsum dolor sit.
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis sapiente impedit?
                        </p>
                        <a href="" class="btn btn-primary text-light">Read More</a>
                    </div>
                </div>
            </section>
            <section id="contact">
                <div class="section-title">
                    Contact Us
                </div>
                <div class="contact-box">
                    <div class="contact-details d-flex flex-column">
                        <span class="contact-email">
                            <i class="fas fa-envelope"></i>
                            <h3>agency@techsolution.com</h3>
                        </span>
                        <span class="contact-phone">
                            <i class="fas fa-phone"></i>
                            <h3>+1XX XXX XXX XX</h3>
                        </span>
                        <span class="contact-adress">
                            <i class="fas fa-location-dot"></i>
                            <h3>210 barker street , london </h3>
                        </span>

                    </div>
                    <form action="" class="contact-form d-flex flex-column">
                        <input type="text" class="form-control" placeholder="First Name" id="first_name" name="first_name">
                        <input type="text" class="form-control" placeholder="Last Name" id="last_name" name="last_name">
                        <input type="email" class="form-control" placeholder="E-mail Adress" id="email" name="email">
                        <textarea name="message" id="message" cols="30" rows="4" class="form-control" placeholder="Message"></textarea>
                        <button type="submit" class="btn">SEND MESSAGE</button>
                    </form>
                </div>
            </section>
            {% endblock main %}
        </main>
    </div>
    {% endblock content %}
    <!-- Footer -->
    {% block footer %}
    <footer class="bg-primary d-flex p-2">
        <span class="text-light text-center m-auto">All rights reserverd &copy; Tech Solutions .inc</span>
    </footer>
    {% endblock footer %}
</body>

</html>